{% extends 'base.html' %}

{% block extra_head %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.3.2/socket.io.min.js"
  integrity="sha512-YybopSVjZU0feJ5nqjX1OyJnv6aUXX6zt4C4lZb4CfwLskSWl1zknxMBEeD9giUorKjA4D4J4W4o4P4wpCJYg=="
  crossorigin="anonymous" referrerpolicy="no-referrer"></script>
{% endblock %}

{% block content %}
<ebody>
  <div class="eink-note-box-container" id="eink-note-box-container">
    {% for group in groups %}
    <div class="eink-note-box" data-group-id="{{ group.id }}">
      <div class="eink-note-box-title">{{ group.name }}</div>
      {% for note in group.notes %}
      {% if (note.group and note.group.id == group.id) or (group.name == "Uncategorized" and not note.group_id)%}
      <div class="eink-note" data-note-id="{{ note.id }}">
        <p><strong>{{ note.content }}</strong>,
          <span class="eink-note-details">{{ note.member.name if note.member else 'Unknown' }} at {{
            note.date_created.strftime('%Y-%m-%d %H:%M:%S')}}</span>
        </p>
      </div>
      {% endif %}
      {% endfor %}
    </div>
    {% endfor %}
  </div>
  <br>
  <!--<a href="{{ url_for('logout') }}" class="btn btn-danger mt-2">Logout</a>-->
  </div>
  </body>
  {% endblock %}

  {% block extra_scripts %}
  <script src="{{ url_for('static', filename='eink_socket.js') }}"></script>
  {% endblock %}

  {% block styles %}
  <style>
    body {
      background-color: #0f0f0f;
      /* Set the background color of the page */
    }
  </style>
  {% endblock %}
