{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h1>New Member</h1>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class="flashes">
                {% for message in messages %}
                    <li{% if 'error' in message %} class="error"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    <form method="post" action="{{ url_for('members', user_id=current_user.id) }}" class="mb-3">
        <div class="form-group">
            <label for="name">Member Name:</label>
            <input type="text" name="name" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="email">Member Email:</label>
            <input type="email" name="email" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="password">Member Password:</label>
            <input type="password" name="password" class="form-control" required>
        </div>
        <input type="submit" value="Add Member" class="btn btn-primary">
    </form>
    <ul class="list-unstyled">

        <br>
        <h1>Current Members</h1>
        <br>
        {% for member in members %}
            <li class="mb-2">
                {% if member == current_user.members[0] %}
                    (Admin) {{ member.name }} ({{ member.email }})
                {% else %}
                    {{ member.name }} ({{ member.email }})
                {% endif %}
                {% if member != current_user.members[0] %}
                <form method="post" action="{{ url_for('delete_member', user_id=current_user.id, member_id=member.id) }}" class="d-inline">
                        <input type="submit" value="Delete Member" class="btn btn-danger btn-sm">
                    </form>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
    <br>
    <a href="{{ url_for('dashboard') }}" class="btn btn-secondary">Back to Dashboard</a>
</div>
{% endblock %}
